<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header}}

    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatibus atque cupiditate ipsam optio possimus harum libero? Minus soluta quo vitae sed ipsa ducimus quod, reprehenderit at? Ipsum, quia tempore.
    Provident quasi eligendi doloremque ipsam odio beatae quidem eum recusandae. Cum quis maxime nemo vel minus fuga labore ratione numquam iusto totam veritatis ex adipisci quos, possimus porro quia blanditiis!
    Non dolor placeat iste officia fugiat harum, repellat necessitatibus rem. Ullam qui at labore beatae incidunt, quas, aspernatur voluptates earum autem illo necessitatibus soluta quo consequatur laudantium est eaque iusto.</h1>
</body>
</html>